.logoProduct{
  height:50px;
}
.product-details-table{
  width: 100%;
  border-collapse: collapse;
 
}
.product-details-table td{
  margin : 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.product-details{
    margin: 10px;
    
}
td {
  border: 1px solid #ddd;
  padding: 30px;
}
.button{
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    
    
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #f7c2f9;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  
}
.logoProduct{
  border-radius: 50%;
}

.productQuantite{
  padding:10px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  color : white;
  border-color: white;
}

.progressbar{
  background-color: #DD2476;
  width: 100%; /* Utilisez la largeur totale de la case parente */
  height: 100%;
}
