.logoProduct{
  height:50px;
}
.product-details-table{
  width: 100%;
  border-collapse: collapse;

}
.product-details-table td{
  margin : 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.product-details{
    margin: 10px;}



td {
  border: 1px solid #ddd;
  padding: 30px;
}
.button{
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;


  }
.product-details {

  background: linear-gradient(70deg, white, pink);
  border-radius: 20%;
  padding: 14px;
}

  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #f7c2f9;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;

}
.logoProduct{
  border-radius: 50%;
}

.productQuantite{
  padding:10px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  color : white;
  border-color: white;
}

/*.progressbar{
  background-color: #DD2476;
  width: 100%;  Utilisez la largeur totale de la case parente
  height: 10px;
}*/

.progress-bar {
  width: 100%; /* Largeur totale de la barre de progression */
  height: 20px; /* Hauteur de la barre de progression */
  background-color: #FF512F; /* Couleur de fond de la barre de progression */
  border-radius: 5px; /* Bord arrondi de la barre de progression */
}

.progressbar-container {
  height: 10px; /* Hauteur de la case contenant la barre de progression */
  margin-top: 5px; /* Marge supérieure pour l'espacement */
}
