<div class="product-details">
  <table class="product-details-table">
    <tbody>
      <tr>
        <th ><span class="productId" > {{product.name}}</span></th>
        <th scope="row" colspan="2"><span class="productTimeLeft"  >timeleft: {{product.timeleft}}</span></th>
      </tr>
      <tr>
        <td><img class="logoProduct" [src]="server+product.logo" [alt]="product.name"/><span class="productQuantite" >{{product.quantite}}</span></td>

        <td><span class="productCout" > cout: {{product.cout}}</span></td>
        <td><span class="productVitesse" >vitesse: {{product.vitesse}}</span></td>
      </tr>
      <tr>
        <td scope="row" colspan="2"><button class="boutonachat" type="button">Buy !</button></td>
      </tr>
      <tr>
        <td scope="row" colspan="3">
          <div class="progressbar-container">
          <!--<div class="progressbar" style="background-color: red;" >-->
            <app-my-progress-bar class="progressbar" backcolor="#ffffff" frontcolor="#ff0000"></app-my-progress-bar>
            <!--<mat-progress-bar [value]="progressbarvalue" title="progression" ></mat-progress-bar></div>-->
          <!--</div>--></div></td>
      </tr>

    </tbody>

  </table>
</div>
