

<div class="yeah">
<div class="header">
  <span id="worldname">  {{world.name}} </span>
  <div > <img id="logoWorld" [src]="server+ world.logo"/></div>
  <div> Argent : <span id="worldmoney">  {{world.money}} </span> </div>
  <div> multiplicateur </div>
  <div> ID du joueur </div> </div>
  <div class="main">
    <div> liste des boutons de menu </div>
    <div class="product" >
      <div> <app-product  [prod]="world.products[0]"
                         class="product col-md-6"></app-product></div>

    <div> <app-product [prod]="world.products[1]"
                       class="product col-md-6"></app-product> </div>
      <div> <app-product [prod]="world.products[2]"
                         class="product col-md-6"></app-product> </div>
    <div> <app-product [prod]="world.products[3]"
                       class="product col-md-6"></app-product> </div>
      <div> <app-product [prod]="world.products[4]"
                         class="product col-md-6"></app-product> </div>
    <div> <app-product [prod]="world.products[5]"
                       class="product col-md-6"></app-product> </div>
  </div>
  </div>
  <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/>
</div>


