.header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%; }

.main {
    display: grid;
    grid-template-columns: 20% 80%;
 }

 .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 50%;
}

.yeah {
  background-image: url('../../../public/icones/background.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#logoWorld{
  height: 100px;
  border-radius: 50%;
  text-align: center;
}
.name{
  display: flex;
  align-items: center
}


.product-table {
  width: 10%;
  border-collapse: collapse;
}

.product-table td {

  background: linear-gradient(70deg, white, pink);
  border-radius: 20%;
  margin : 30px;
}

.product {
  margin: 10px;

}
.multiplicateur {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border-color : White;
  }

  .multiplicateur:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .worldmoney{
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border-color : White;
  }


/*PARTIE LISTE BOUTONS A GAUCHE */

.listeboutons {
  border-collapse: collapse;

}

.boutonunlocks,
.boutoncash,
.boutonangel,
.boutonManagers,
.boutoninvestors {
  width: 170px;
  background-image: linear-gradient(to right, #ff9c88 0%, #f39dc4  51%, #ffa390  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border-color: white
}
button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}






