.header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%; }
.main {
    display: grid;
    grid-template-columns: 20% 80%;
 }

 .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.yeah {
  background-image: url('../../../public/icones/fond.jpeg');
  height: 100vh;}

#logoWorld{
  height: 50px;
}


.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table td {
  border: 1px solid black;
}

.product {
  margin: 10px;
}
