.header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%; }
.main {
    display: grid;
    grid-template-columns: 20% 80%;
 }

 .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.yeah {
  background-image: url('../../../public/icones/background.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment:local;
}


#logoWorld{
  height: 50px;
  border-radius: 50%;
}


.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table td {
  
  background: linear-gradient(70deg, white, pink);
  border-radius: 20%;
  margin : 30px;
}

.product {
  margin: 10px;
}
