

<div class="yeah">

<div class="header">
  <div class="logo-world"> <img id="logoWorld" [src]="server+ world.logo"/> <span class="name" id="worldname">  {{world.name}} </span></div>

<div> <span id="worldmoney" [innerHTML]="world.money|bigvalue"> </span> </div>

  <div> <button class="multiplicateur" type="button">Multiplicateur</button> </div>
  <div> ID du joueur <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/></div>

</div>
  <div class="main">

    <div class="bouton">
      <table class="listeboutons">
        <tbody>
          <tr>
            <td><button class="boutonunlocks" type="button">Unlocks</button></td>
          </tr>
          <tr>
            <td><button class="boutoncash" type="button">Cash Upgrades</button></td>
          </tr>
          <tr>
            <td><button class="boutonangel" type="button">Angel Upgrades</button></td>
          </tr>
          <tr>
            <td><button class="boutonManagers" type="button">Managers</button></td>
          </tr>
          <tr>
            <td><button class="boutoninvestors" type="button">Investors</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="product" >
    <table class="product-table">

      <tbody>
      <tr>

      <td><div> <app-product  [prod]="world.products[0]"class="product col-md-6"></app-product></div></td>
      <td><div> <app-product [prod]="world.products[1]"class="product col-md-6"></app-product> </div></td>
      <td><div> <app-product  [prod]="world.products[2]"class="product col-md-6"></app-product></div></td>

      </tr>

      <tr>
        <td><div> <app-product [prod]="world.products[3]"class="product col-md-6"></app-product> </div></td>
        <td><div><app-product  [prod]="world.products[4]"class="product col-md-6"></app-product></div></td>
        <td><div><app-product [prod]="world.products[5]"class="product col-md-6"></app-product> </div></td>

      </tr>

      </tbody>
    </table>
  </div>
    {{world.managers}}
    <div>
      @for (product of world.products; track world.name){
      {{product.paliers[0].name}}
      <button (click)="engagerManager(product.paliers[0])"> Engager </button>
      }
      <!--<li *ngFor="let palier of product.paliers"> {{ palier.name}}-->
  </div>


</div> </div>
